*{
    box-sizing: border-box;
    border: 5px;
    font-family:'Courier New', Courier, monospace;
   
    
}
body{
    background: rgb(216, 65, 27);
background: linear-gradient(22deg, rgba(216, 73, 17, 0.918) 38%, rgba(228, 56, 44, 0.932) 82%, rgba(2,0,36,1) 100%);


    color: white;
    
}
.div_bir{
    
    text-align: center;
    line-height: 150px;
    

}
.div_iki{
   
    text-align: center;
    line-height: 150px;
}
.div_uc{
   
    text-align: center;
    line-height: 150px;
}
#par11{
    border-style: none ;
    width: 200px;
    height: 150px;
    display: inline-block;
    margin: 10px 30px ;
    
}
#par12{
    border-style: dotted ;
    width: 200px;
    height: 150px;
    display: inline-block;
    margin: 10px 30px ;
}
#par13{
    border-style: dashed ;
    width: 200px;
    height: 150px;
    display: inline-block;
    margin: 10px 30px ;
}
#par14{
    border-style: solid ;
    width: 200px;
    height: 150px;
    display: inline-block;
    margin: 10px 30px ;
}
#par15{
    border-style: double ;
    width: 200px;
    height: 150px;
    display: inline-block;
    margin: 10px 30px;
}
#par16{
    border-style: groove ;
    width: 200px;
    height: 150px;
    display: inline-block;
    margin: 10px 30px;
}
#par17{
    border-style: ridge ;
    width: 200px;
    height: 150px;
    display: inline-block;
    margin: 10px 30px;
}
#par18{
    border-style: inset ;
    width: 200px;
    height: 150px;
    display: inline-block;
    margin: 10px 30px;
}
#par19{
    border-style: outset ;
    width: 200px;
    height: 150px;
    display: inline-block;
    margin: 10px 30px;
}






